.table {
  width: 80%;
  margin: 30px auto 0 auto;
  overflow: scroll;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th,
td {
  text-align: center;
  padding: 16px;
}
th {
  background-color: #448aff;
  color: white;
}
tr:nth-child(even) {
  background-color: white;
}